body {
    background: url(/client/assets/pexels-felix-mittermeier-956981.jpg);
    background-size: cover;
      font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-white {
    color: white;
    text-shadow: 5px 5px 5px black;

}

.text-aqua {
    color: #61C8C0;
    text-shadow: 5px 5px 3px black;

}

a, button {
    border-radius: 15px;
    background-color: #61C8C0;
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    color: black;
}

input {
    height: 50px;
    border-radius: 15px;
}

.result {
    font-size: 22px;
}